.gradle
.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties

# Build folders
/build
**/build

# IDEA/Android Studio ignores
*.iml
*.ipr
*.iws
*.editorconfig
**/.idea/shelf
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/datasources.xml
**/.idea/dataSources.ids
**/.idea/gradle.xml
**/.idea/misc.xml
**/.idea/modules.xml
**/.idea/libraries
**/.idea/terminal.xml
**/.idea/dictionaries
**/.idea/runConfigurations.xml
**/.idea/deploymentTargetDropDown.xml
**/.idea/caches
**/.idea/assetWizardSettings.xml
**/.idea/uiDesigner.xml
**/.idea/encodings.xml
**/.idea/codeStyles/codeStyleConfig.xml
**/.idea/jarRepositories.xml
**/.idea/compiler.xml
**/.idea/.name
